@(userForm: Form[User], shouldBeAdmin: Boolean)(implicit messages: Messages, request: RequestHeader)

@import helper._

@main {

    <h1>Register</h1>

    @form(routes.Authentication.register()) {

        <fieldset>
            @inputText(userForm("username"), '_label -> "Username", '_help -> "")
            @inputPassword(userForm("password"), '_label -> "Password", '_help -> "")
            <input type="hidden" name="isAdmin" value="@shouldBeAdmin.toString" />
        </fieldset>

        <div class="actions">
            <input type="submit" value="Register" class="btn primary">
        </div>

    }

}
