@import views.html.helper.form
@import views.html.helper.CSRF
@(user: Option[User])(implicit messages: Messages, request: RequestHeader)

@main {

    Hi @if(user.isDefined) {
        @user.get.username
    }


    <ul>
        @if(user.isDefined) {
            <li><a href="@routes.Chat.index()">Chat</a></li>
            <li>
            @form(routes.Authentication.logout()) {
                <input class="logout-link" type="submit" value="Logout" class="btn primary">
                }
            </li>
        } else {
            <li><a href="@routes.Authentication.register()">Register</a></li>
            <li><a href="@routes.Authentication.login()">Login</a></li>
        }
    </ul>

    @if(user.isDefined && user.get.admin) {
        <h2>Admin</h2>
        <ul>
            <li><a href="@routes.Message.list()">Messages</a></li>
        </ul>
    }

}
