@(messages: List[models.Message])(implicit request : play.api.mvc.RequestHeader)

@import helper._

@main {
    <h2>Chats</h2>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
        @messages.map {
            case message => {
                <tr>
                    <td>@Html(message.user)</td>
                    <td>@Html(message.text)</td>
                </tr>
            }
        }
        </tbody>
    </table>

    @form(routes.Message.truncate()) {

        <div class="actions">
            <input type="submit" value="Truncate" class="btn btn-danger">
        </div>

    }
}
